In [1]:
## 1 Import and store the data in a data frame.

%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as ss
import sklearn.linear_model as lm
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
cols=['City1','City2','AvgFare','Dist','AvgWP',
          'MktLA','MktSh','AvgFare2','LowPA','MktSh2','Price'] 

#airq = pd.read_fwf('airq402.dat', names=colnames)
df = pd.read_fwf('http://users.stat.ufl.edu/~winner/data/airq402.dat', names=cols)

In [3]:
df.head()

,City1,City2,AvgFare,Dist,AvgWP,MktLA,MktSh,AvgFare2,LowPA,MktSh2,Price
0,CAK,ATL,114.47,528,424.56,FL,70.19,111.03,FL,70.19,111.03
1,CAK,MCO,122.47,860,276.84,FL,75.10,123.09,DL,17.23,118.94
2,ALB,ATL,214.42,852,215.76,DL,78.89,223.98,CO,2.77,167.12
3,ALB,BWI,69.40,288,606.84,WN,96.97,68.86,WN,96.97,68.86
4,ALB,ORD,158.13,723,313.04,UA,39.79,161.36,WN,15.34,145.42

In [58]:
df.describe()

,AvgFare,Dist,AvgWP,MktSh,AvgFare2,MktSh2,Price
count,1000.00000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000,1000.000000
mean,163.37542,1056.973000,672.279140,60.128590,166.64756,34.551480,143.193090
std,55.36547,643.203251,766.519254,19.367779,62.66014,27.096999,47.229184
min,50.52000,108.000000,181.410000,17.680000,50.52000,1.060000,49.610000
25%,125.97500,553.500000,257.197500,46.510000,124.08500,13.195000,113.767500
50%,161.34500,919.000000,404.780000,59.240000,161.40000,26.140000,137.825000
75%,197.39250,1452.500000,769.912500,73.510000,202.97750,52.972500,168.530000
max,401.23000,2724.000000,8950.760000,100.000000,490.03000,100.000000,387.940000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
City1       1000 non-null object
City2       1000 non-null object
AvgFare     1000 non-null float64
Dist        1000 non-null int64
AvgWP       1000 non-null float64
MktLA       1000 non-null object
MktSh       1000 non-null float64
AvgFare2    1000 non-null float64
LowPA       1000 non-null object
MktSh2      1000 non-null float64
Price       1000 non-null float64
dtypes: float64(6), int64(1), object(4)
memory usage: 86.0+ KB

In [8]:
df.select_dtypes(include=['object']).nunique()

City1    90
City2    85
MktLA    16
LowPA    19
dtype: int64

In [22]:
a = ['City1','City2','MktLA','LowPA']
city_stack = df.City1.append(df.City2)
airln_stack = df.MktLA.append(df.LowPA)

In [23]:
df[a] = df[a].astype('category')

In [26]:
df_a = df.apply(lambda x: x.cat.codes if x.dtype.name == 'category' else x)

In [28]:
df_a.dtypes

City1          int8
City2          int8
AvgFare     float64
Dist          int64
AvgWP       float64
MktLA          int8
MktSh       float64
AvgFare2    float64
LowPA          int8
MktSh2      float64
Price       float64
dtype: object

In [ ]:
## 2 
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [69]:
## 3 

X = df.drop('AvgFare', axis=1)

In [70]:
# Dependent variable
Y = df[['AvgFare']]

In [71]:
X.head()

  City1 City2  Dist   AvgWP MktLA  MktSh  AvgFare2 LowPA  MktSh2   Price
0   CAK   ATL   528  424.56    FL  70.19    111.03    FL   70.19  111.03
1   CAK   MCO   860  276.84    FL  75.10    123.09    DL   17.23  118.94
2   ALB   ATL   852  215.76    DL  78.89    223.98    CO    2.77  167.12
3   ALB   BWI   288  606.84    WN  96.97     68.86    WN   96.97   68.86
4   ALB   ORD   723  313.04    UA  39.79    161.36    WN   15.34  145.42

In [72]:
Y.head()

   AvgFare
0   114.47
1   122.47
2   214.42
3    69.40
4   158.13

In [73]:
## 4

df.corr()

           AvgFare      Dist     AvgWP     MktSh  AvgFare2    MktSh2     Price
AvgFare   1.000000  0.587169 -0.126175 -0.234142  0.981462 -0.458660  0.866410
Dist      0.587169  1.000000 -0.090131 -0.531406  0.564082 -0.367831  0.583239
AvgWP    -0.126175 -0.090131  1.000000 -0.067605 -0.100946  0.034241 -0.142314
MktSh    -0.234142 -0.531406 -0.067605  1.000000 -0.220801  0.306832 -0.307672
AvgFare2  0.981462  0.564082 -0.100946 -0.220801  1.000000 -0.472838  0.826511
MktSh2   -0.458660 -0.367831  0.034241  0.306832 -0.472838  1.000000 -0.240186
Price     0.866410  0.583239 -0.142314 -0.307672  0.826511 -0.240186  1.000000

In [75]:
## Average weekly fare, market share1 and market share 2 have less than 0.1 correlation with the dependent variable
df.drop(['AvgWP','MktSh','MktSh2'],axis=1, inplace=True)

In [76]:
df.head()

  City1 City2  AvgFare  Dist MktLA  AvgFare2 LowPA   Price
0   CAK   ATL   114.47   528    FL    111.03    FL  111.03
1   CAK   MCO   122.47   860    FL    123.09    DL  118.94
2   ALB   ATL   214.42   852    DL    223.98    CO  167.12
3   ALB   BWI    69.40   288    WN     68.86    WN   68.86
4   ALB   ORD   158.13   723    UA    161.36    WN  145.42

In [ ]:
## 5

sns.pairplot(df, hue = "AvgFare")

C:\Users\Arzoo\Anaconda3\lib\site-packages\scipy\stats\stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval
C:\Users\Arzoo\Anaconda3\lib\site-packages\numpy\core\_methods.py:140: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
C:\Users\Arzoo\Anaconda3\lib\site-packages\numpy\core\_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
C:\Users\Arzoo\Anaconda3\lib\site-packages\statsmodels\nonparametric\bandwidths.py:20: RuntimeWarning: invalid value encountered in minimum
  return np.minimum(np.std(X, axis=0, ddof=1), IQR)
C:\Users\Arzoo\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:83: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)
C:\Users\Arzoo\Anaconda3\lib\site-packages\statsmodels\nonparametric\kde.py:488: RuntimeWarning: invalid value encountered in true_divide
  binned = fast_linbin(X, a, b, gridsize) / (delta * nobs)
C:\Users\Arzoo\Anaconda3\lib\site-packages\statsmodels\nonparametric\kdetools.py:34: RuntimeWarning: invalid value encountered in double_scalars
  FAC1 = 2*(np.pi*bw/RANGE)**2

In [29]:
## 6

from sklearn.model_selection import train_test_split

In [30]:
X = df_a.drop('AvgFare', axis=1)
y = df_a[['AvgFare']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [31]:
from sklearn.linear_model import LinearRegression

regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [32]:
## 7

for idx, col_name in enumerate(X_train.columns):
    print("The coefficient for {} is {}".format(col_name, regression_model.coef_[0][idx]))

The coefficient for City1 is 0.012324130718206826
The coefficient for City2 is -0.02942653634069982
The coefficient for Dist is 0.0023876483096046254
The coefficient for AvgWP is -0.0015247554693837517
The coefficient for MktLA is -0.32306667595609373
The coefficient for MktSh is 0.08024610202076685
The coefficient for AvgFare2 is 0.6909018686022201
The coefficient for LowPA is 0.1798049755841966
The coefficient for MktSh2 is -0.07154393656164652
The coefficient for Price is 0.22247566970095026

In [45]:
intercept = regression_model.intercept_[0]
intercept

14.165449354720977

In [46]:
## 8
regression_model.score(X_test, y_test)

0.9765938783351472

TypeError: Expected sequence or array-like, got estimator LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)